:root {
    --color1: white;
    --color2: #f4f4f4;
    --gradient: linear-gradient(var(--color1), var(--color2));
}

/* NAVBAR */
.navbar-fixed {
    height: 13vh;
}

nav {
    background-color: white;
    height: 13vh;
}

.brand-logo {
    margin-left: 10px;
}

nav .brand-logo,
nav a,
a {
    color: black;
    font-weight: 600;
    font-size: 22px;
    margin-top: 20px;
}

nav ul a {
    font-size: 14px;
    font-weight: 300;
    color: black;
    margin-top: 20px;
}

/* Profile/Home Section */
.headshot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headshot-image {
    width: 100%;
    animation: fade-in-and-up 1s ease;
}

@keyframes fade-in-and-up {
    0% {
        opacity: 0;
        transform: translateY(10%);
    } 100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.contact-me-title {
    text-align: center;
}
/* Headline, with typewriter effect */
#app {
    text-align: center;
    font-size: calc(3vw + 3vh);
    min-height: 100px;
}

#greeting {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

/* Buttons on home section */
.about-me-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-button {
    width: 100%;
    font-size: 1em;
    text-align: center;
    font-weight: 800;
    background: #5ce1e6;
    border-radius: 26px;
    padding: 20px 40px;
}

.keep-scrolling-button {
    font-size: 14px;
    font-weight: 200;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.keep-scrolling-button:hover {
    background-color: rgb(0, 0, 0, .05);
    border-radius: 20px;
}

.keep-scrolling-button:hover #arrow {
    animation: point .7s ease infinite
}

@keyframes point {
    0% {
        transform: translateY(0);
    } 50% {
        transform: translateY(10%);
    } 100% {
        transform: translateY(0);
    }
}

/* Divider with marquee */
.divide {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--gradient);
    overflow-x: hidden;
    margin-bottom: 0;
    padding-bottom: 50px;
    padding-top: 50px;
}

.marquee {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    animation: marquee 17s linear infinite;
}

.red-banner,
.black-stripe {
    padding: 0px !important;
    width: 100%;
    position: absolute;
}

.skill-on-divider {
    text-align: center;
    color: white;
    font-size: calc(1vw + 1vh);
    font-weight: 800;
    z-index: 2;
    flex: 0 0 12%;
}

.hex-image {
    width: 25px;
    height: 25px;
}

.hexagon {
    z-index: 2;
    width: 15px;
    height: 15px;
    flex: 0 0 12%;
    text-align: center;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    } 100% {
        transform: translateX(-117%);
    }
}

/* About Me Section */
#about {
    background-color: var(--color2);
    margin-bottom: 0px !important;
}

h4 {
    font-size: 35px;
    font-weight: 800;
}

.about-list li {
    list-style: circle !important;
}

/* Parallax */
.parallax-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.parallax-title {
    text-align: center;
    font-size: 35px;
    position: absolute;
    color: black;
    font-weight: 800;
}

.par-banner {
    width: 400px;
    height: 200px;
}

/* Contact Me Section */
#contact-me {
    background: var(--color2);
    margin: 0;
}

.contact-left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume-text {
    text-align: center;
}

.resume-icon {
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 16px;
}

.resume-icon:hover {
    box-shadow: 0 0 10px;
    cursor: pointer;
}

.contacts-container {
    display: flex;
}

.contacts-text {
    text-decoration: underline;
    font-size: 16px;
    margin-top: 0;
}

.contacts-icon {
    margin-top: 0;
}
.contacts-text:hover,
.contacts-icon:hover {
    color: #ff5757 !important;
    cursor: pointer;
}

.socials-icon {
    width: 40px;
}

.socials-container {
    justify-content: space-around;
}

.socials-icon:hover {
    cursor: pointer;
    animation: up-and-down .5s infinite;
}

@keyframes up-and-down {
    0% {
        transform: translateY(0);
    } 50% {
        transform: translateY(5%);
    } 100% {
        transform: translateY(0%);
    }
}
/* MEDIA QUERIES */
/* Large */
@media only screen and (min-width:993px){
    #app {
        min-height: 150px;
    }
    nav .brand-logo,
    nav a,
    a {
        margin-left: 40px;
        margin-right: 40px;
    }

    .headshot-image {
        width: 80%;
        padding: 10%;
    }

    .hex-image {
        z-index: 2;
        width: 30px;
        height: 30px;
    }

    .divide {
        margin-bottom: 0px;
    }

    .socials-container {
        justify-content: flex-start;
    }
}
/* Adjusting marquee spacing */
@media only screen and (min-width:1000px){
    .divide {
        min-height: 400px;
    }
}